.moreFeatures{
    height: 1000px;
    background-color: #1c1c1c;
    position: relative;
    top: 25vh;
    justify-content: center;
}
.More-features-container{
    width: 1200px;
    height: 687px;
    position: relative;
    top: 14vh;
    justify-content: left;
    left: 38vh;
}

.And-More,
.More-features-heading,
.more-features-paragraph{
    margin: 20px 0;
    text-align: left;
    
}



.And-More{
    color: #8247ff;
        font-family: Outfit,sans-serif;
        font-size: 12px;
        font-weight: 600;
        border: 1px solid rgb(218, 217, 217);
        letter-spacing: 0.96px;
        background-color: white;
        border-radius: 8px;
        line-height: 14.4px;
        padding: 8px;
        position: relative;
        width: 12.5vh;
        position: relative;
        
}
.More-features-heading{
        font-family: Outfit,sans-serif;
        font-size: 56px;
        font-weight: 500;
        letter-spacing: -1px;
        position: relative;
        
        flex-direction: column;
        color: #ffffff;

}

.more-features-paragraph{
    color: #767575;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.5px;
    word-spacing: 0px;
    height: 60px;
    font-family: Inter,sans-serif;
    line-height: 30px;
    
}

.row1-container{
  height: 385px;
  width: 1200px;
  display: flex;
  justify-content: space-between; 
  
  position: relative;
  top: 5vh;
}

.moreFeature1, .moreFeature2, .moreFeature3{
    width: 320px;
    height: 340px;
    padding: 50px 30px 60px 30px;
    background-color: #212121;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



.morefeatures-name{
    color: #ffffff;
    
    font-family: Outfit,sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.5px;
    height: 32px;
    width: 540px;
    display: flex;
    position: relative;
    bottom: 4.7vh;
}

.morefeatures-paragraph{
    font-family: inter,sans-serif;
    font-weight: 500;
    color: #767575;
    height: 24px;
    width: 540px;
    position: relative;
    right: 11vh;
    
    
    font-size: 16px;
}

.morefeatures-cross{
    color: #ffffff;
    
    font-family: Outfit,sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.5px;
    height: 32px;
    width: 540px;
    display: flex;
    position: relative;
    left: 7.5vh;
    bottom: 5vh;
}

.icons{
    
    background-color: #8247ff;
    border-radius: 20px;
    height:35px;
    width: 35px;
    padding: 13px 13px 13px 13px;
    position: relative;
    left: 13vh;
    bottom: 10vh;
}